<div data-aos="fade-in" class="usershowbody">
  <div class="container">
    <div class="row">
      <div data-aos="fade-in" class="col-xs-12 col-sm-4 col-sm-offset-1 ">
        <div data-aos="fade-in" class="profile-card text-center">
          <% if current_user.avatar.present? %>
          <%= cl_image_tag current_user.avatar, height: 400, width: 400, crop: :fill, class: "user-image center-block"%>
          <% else %>
          <% avatar_url = current_user.facebook_picture_url || 'defaulticon.png' %>
          <%= image_tag avatar_url, class: "user-image" %>
          <% end %>
          <h4 class="text-center"><%= @user.first_name %> <%= @user.last_name %></h4>
        </div>
        <div data-aos="fade-in" class="profile-card">
          <h2 class="text-center">Minhas Restrições</h2>
          <hr>
          <% @user.diets.each do |diet| %>
          <div data-aos="fade-in" class="restrictioncard">
            <div class="col restrictionicon">
            </div><p><%= diet.name %></p>
          </div>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-offset-1 profile-card">
        <h2 class="text-center">Minhas Resenhas</h2>
        <hr>
        <% @user.reviews.each do |review| %>
        <h4><%= review.product.name %></h4>
          <div data-aos="fade-in" class="reviewcard">
            <br>
            <div class="reviewicon"><%= review.approved %></div>&nbsp;&nbsp;&nbsp;<%= review.content %>
          </div>
        <% end %>
      <br>
    </div>
  </div>
</div>
</div>
