<div class="container-fluid homecontainer animated fadeIn slow">
  <div class="row banner">
    <h3 class="col-xs-12 animated fadeIn">
      <span id="banner-typed-text"></span>
    </h3>
<!--     <input class="animated bounceInDown slow" type="text" placeholder="Search for a product..."> -->
    <%= form_tag products_path, method: :get do %>
      <%= text_field_tag :query,
          params[:query],
          class: "form-control animated bounceInDown slow",
          placeholder: "Quero procurar..." %>
    <% end %>
    <p class="animated fadeIn delay-1s">Produtos Populares</p>
    <%= link_to 'Mortadela', products_path, class: 'btn animated fadeIn delay-2s'  %>
    <%= link_to 'Palmito', products_path, class: 'btn animated fadeIn delay-2s'  %>
    <%= link_to 'Coca-Cola', products_path, class: 'btn animated fadeIn delay-2s'  %>
  </div>
</div>

