<%= simple_form_for @product do |f| %>
  <%= f.error_notification %>
  <% if @product.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-inputs">
    <%= f.input :name, label: 'Nome' %>
    <%= f.input :ingredients, label: 'Ingredientes' %>
    <%= f.input :brand, label: 'Marca' %>
    <%= f.input :category, :collection => Product::CATEGORIES, prompt: 'Escolha uma categoria de alimento:' %>
    <%= f.input :validation if current_user.admin %>
    <%= f.input :photo, label: 'Foto do produto' %>
    <%= f.input :photo_cache, as: :hidden %>
    <!-- f.association :diets, as: :check_boxes -->
    <fieldset class="form-group">
      <legend class="col-form-label pt-0">Restrições</legend>
      <input type="hidden" name="product[diet_ids][]" value="">
      <div class="category-choices">
      <% Diet.all.each do |diet| %>
          <input class="hidden" type="checkbox" value="<%= diet.id %>" name="product[diet_ids][]" id="product_diet_ids_<%= diet.id %>">

          <label class="category-choice" for="product_diet_ids_<%= diet.id %>"><%= diet.name %>
          </label>
        <% end %>
      </div>
    </fieldset>
  </div>

  <div class="form-actions">
    <%= f.submit 'Criar produto', class: 'btn btn-primary' %>
  </div>
<% end %>
