<div class="container">
  <h1 class="text-center"><%= @product.name %></h1>
  <div class="row">
    <div class="col-xs-6 text-center">
      <%= render 'shared/product_image_tag', product: @product %>
    </div>
    <div class="col-xs-6 text-left">
      <h4>Alimentary Restrictions</h4>
      <div class="diet-container">
        <% @product.diets.each do |diet| %>
          <div class="class-item">
            <strong><%= diet.name %></strong>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <h3>Ingredients:</h3>
  <p class="text-left"><small><%= @product.ingredients %></small></p>
  <h3 id="review-count">
    <%= pluralize @product.reviews.size, "review" %>
  </h3>
  <% if @product.reviews.blank? %>
    <p id="first_review_message">Be the first to leave a review for <%= @product.name %></p>
  <% else %>
    <% @product.reviews.each do |review| %>
      <%= render 'reviews/show', review: review %>
    <% end %>
  <% end %>
  <%= render 'reviews/form', product: @product, review: @review %>
</div>

