<div class="container">
  <div class="row">
    <div id="reviews" class="col-xs-12 col-sm-10 col-sm-offset-1" >
      <h1><%= @product.name %></h1>
      <%= render 'shared/product_image_tag', product: @product %>
      <p><small><%= @product.description %></small></p>
      <h3 id="review-count">
        <%= pluralize @product.reviews.size, "review" %>
      </h3>
      <% if @product.reviews.blank? %>
        <p id="first_review_message">Be the first to leave a review for <%= @product.name %></p>
      <% else %>
        <% @product.reviews.each do |review| %>
          <%= render 'reviews/show', review: review %>
        <% end %>
      <% end %>
      <%= render 'reviews/form', product: @product, review: @review %>
    </div>
  </div>
</div>
